# Datasets & big folders
*.zip
*.csv
train/
test/
data/
images/
dataset*/
chest_xray/
Meta/
images png/

# System / temp files
*.DS_Store
*.~lock.*
__pycache__/

# Jupyter checkpoints
.ipynb_checkpoints/

# Ignore everything in Unified Mentor Internship
Internships/Unified Mentor Internship/*

# But allow the Completed Projects folder and its contents
!Internships/Unified Mentor Internship/All projects and Completed Projects/
!Internships/Unified Mentor Internship/All projects and Completed Projects/Unified Mentor Completed Projects/
